@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

$monopoly-purple: #40247A;
$monopoly-light-blue: #B2D9DC;
$monopoly-magenta: #DF2879;
$monopoly-orange: #E38023;
$monopoly-red: #E30E1A;
$monopoly-yellow: #E6E632;
$monopoly-green: #169632;
$monopoly-blue: #0E63A3;

[data-color=purple] { background-color: $monopoly-purple; }
[data-color^=light] { background-color: $monopoly-light-blue; }
[data-color=magenta] { background-color: $monopoly-magenta; }
[data-color=orange] { background-color: $monopoly-orange; }
[data-color=red] { background-color: $monopoly-red; }
[data-color=yellow] { background-color: $monopoly-yellow; }
[data-color=green] { background-color: $monopoly-green; }
[data-color=blue] { background-color: $monopoly-blue; }

.container {
	max-width: 1200px;
	width: 95%;
	margin: 2rem auto;
}

// Grid
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.card {
	border: 2px solid black;

	[data-color=purple] {
		color: white;
	}

	&-title {
		font-family: 'Roboto Slab';
		padding: .5rem 0;
		text-align: center;

		&__text {
			margin: 0;
			padding-bottom: .25rem;
			text-transform: uppercase;
		}

		&__name {
			margin: 0;
		}
	}

	&-body {
		font-family: 'Raleway';
		padding: .5rem 0;

		&__rent {
			text-align: center;
			display: block;
			padding: 0.25rem 0 0 0;
		}

		&__rents {
			width: 90%;
			margin: 0 auto;
		}

		&__row {
			display: flex;
			justify-content: space-between;
		}

		&__footer {
			font-size: 0.65rem;
			margin: 0 auto;
			padding: 1rem 0 0;
			text-align: center;
			width: 90%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 568px) and (max-width: 767px) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

@media screen and (max-width: 567px) {
	.grid {
		display: block;
	}

	.card {
		max-width: 300px;
		width: 90%;
		margin: 0 auto 2rem;
	}
}